<% include ../partials/header %>

<div class="col-md-6">
  <br><br>
  <% for (var i = 0; i < parks.length; i++){  %>
  <label id="parktitle"><%= parks[i].name %></label>
  <br>
  <label id="parkaddress"><%= parks[i].address %></label>
  <br><br>
  <label id="parkfeatures">Features:<%= parks[i].features.join(', ') %></label>
  <br><br>
  <label id="parkwebsite">Official website: <a href="<%= parks[i].website %>"><%= parks[i].website %></a></label>
  <% } %>
  <br>
  <br>
  <br>

  <hr>
  <table class="reviews-table">
  <h3>Reviews:</h3>
  <br>
  <% for (var j = 0; j < comments.length; j++){ %>
  <tr><td class="reviewrow"><%= comments[j].comments %></td></tr>
  <% } %>
  </table>
  <br><br>

  <form class="form reviews" action="/parks/<%= parkId %>/reviews" method="post">
    <textarea class="form-control" name="comments" rows="10" Placeholder="Write a review"></textarea>
    <button class="btn btn-default submitreview" type="submit">Submit review</button>
  </form></td></tr>

</div>


<div class="col-md-6">
  <div class ="row">
    <div id='map'></div>
  </div>
</div>


<script>
  var myPoints = <%- JSON.stringify(parks) %>;
  drawMap(myPoints)
</script>
</div>
</div>

<% include ../partials/footer %>
